{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adoptions list</h1>

    <table>
        <thead>
            <tr>
                <th>Idadoption</th>
                <th>Idmembre</th>
                <th>Type</th>
                <th>Dateannonce</th>
                <th>Lieu</th>
                <th>Etatadoption</th>
                <th>Description</th>
                <th>Idanimal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adoption in adoptions %}
            <tr>
                <td><a href="{{ path('adoption_show', { 'idAdoption': adoption.idAdoption }) }}">{{ adoption.idAdoption }}</a></td>
                <td>{{ adoption.idMembre }}</td>
                <td>{{ adoption.type }}</td>
                <td>{% if adoption.dateannonce %}{{ adoption.dateannonce|date('Y-m-d') }}{% endif %}</td>
                <td>{{ adoption.lieu }}</td>
                <td>{{ adoption.etatadoption }}</td>
                <td>{{ adoption.description }}</td>
                <td>{{ adoption.idAnimal }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adoption_show', { 'idAdoption': adoption.idAdoption }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adoption_edit', { 'idAdoption': adoption.idAdoption }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adoption_new') }}">Create a new adoption</a>
        </li>
    </ul>
{% endblock %}
