<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Pets Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('BackEnd/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{{ asset('BackEnd/css/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ asset('BackEnd/css/timeline.css') }}"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('BackEnd/css/startmin.css') }}"
          rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset('BackEnd/css/morris.css') }}"
          rel="stylesheet">

    <!-- Custom Fonts -->
    <link
            href="{{ asset('BackEnd/css/font-awesome.css') }}"
            rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('BackEnd/js/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script
            src="{{ asset('BackEnd/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script
            src="{{ asset('BackEnd/js/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('BackEnd/js/startmin.js') }}"></script>
</head>
<body>

{% block body %}
{% endblock %}


</body>
</html>
