<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Best Pets Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Custom Theme files -->
        <link href="{{ asset('FrontEnd/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="all">
        <link href="{{ asset('FrontEnd/css/style.css') }}" type="text/css" rel="stylesheet" media="all">
        <link href="{{ asset('FrontEnd/css/font-awesome.css') }}" rel="stylesheet"> <!-- font-awesome icons -->
        <link rel="stylesheet" href="{{ asset('FrontEnd/css/flexslider.css') }}" type="text/css" media="screen" property="" />
        <!-- //Custom Theme files -->
        <!-- web-fonts -->
        <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
        <!-- //web-fonts -->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <!-- banner -->
    <div class="w3ls-banner jarallax">
        <div class="w3lsbanner-info">
            <!-- header -->
            <div class="header">
                <div class="container">
                    <div class="agile_header_grid">
                        <div class="header-mdl agileits-logo"><!-- header-two -->
                            <h1><a href="{{ path('front_end_homepage') }}">Best Pets</a></h1>
                        </div>
                        <div class="agileits_w3layouts_sign_in">
                            <ul style="color: white">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                       {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |

                                    <li><a href="{{ path('fos_user_security_logout') }}" class="play-icon">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a></li>
                                {% else %}
                                    <li><a href="#myModal2" data-toggle="modal" class="play-icon">Login</a></li>
                                {% endif %}
                                <li>Call us : <span>(+216) 51 09 09 96</span></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-nav"><!-- header-three -->
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- top-nav -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav cl-effect-16">
                                    <li><a href="{{ path('front_end_homepage') }}" class="active" data-hover="Home">Home</a></li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li><a href="{{ path('fos_user_profile_show') }}" data-hover="Profile">Profile</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('front_end_about') }}" data-hover="About">About</a></li>
                                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="icons.html" data-hover="Web Icons">Web Icons</a></li>
                                            <li><a href="codes.html" data-hover="Short Codes">Short Codes</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ path('front_end_gallery') }}" data-hover="Gallery">Gallery</a></li>
                                    <li><a href="{{ path('front_end_contact') }}" data-hover="Contact">Contact</a></li>
                                                                   </ul>
                                <div class="clearfix"> </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- //header -->
            <!-- banner-text -->
            <div class="banner-text agileinfo">
                <div class="container">
                    <div class="agile_banner_info">
                        <div class="agile_banner_info1">
                            <h6>Quis nostrum exercitationem </h6>
                            <div id="typed-strings" class="agileits_w3layouts_strings">
                                <p>Welcome to<i> Best Pets</i></p>
                                <p><i>Pulvinar</i> Vitae Site</p>
                                <p>Curabi temlaci <i>Pharetra</i></p>
                            </div>
                            <span id="typed" style="white-space:pre;"></span>
                        </div>
                    </div>
                    <div class="agile_social_icons_banner">
                        <ul class="agileits_social_list">
                            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //banner-text -->
        </div>
    </div>
    <!-- //banner -->


        {% block body %}
        {% endblock %}
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3 col-sm-6 footer-logo">
                        <div class="agileits-logo">
                            <h2><a href="{{ path('front_end_homepage') }}">Best Pets</a></h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget egestas erat. In hac habitasse platea dictumst.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grid">
                        <h3>Navigation</h3>
                        <ul>
                            <li><a href="{{ path('front_end_homepage') }}">Home</a> </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            {% endif %}
                            <li><a href="{{ path('front_end_about') }}">About</a></li>
                            <li><a href={{ path('front_end_gallery') }}>Gallery</a></li>
                            <li><a href="">Web Icons</a></li>
                            <li><a href="">Short Codes</a></li>

                            <li><a href="{{ path('front_end_contact') }}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-list">
                        <h3>Latest Posts</h3>
                        <ul>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Vestibulum ante ipsum</li>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Phasellus at eros</li>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Mauris eleifend aliquet</li>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Aliquam vitae tristique</li>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pellentesque lobortis</li>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Class aptent taciti</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grid">
                        <h3>Twitter Posts</h3>
                        <ul class="w3agile_footer_grid_list">
                            <li>Ut aut reiciendis voluptatibus <a href="#">http://example.com</a> alias, ut aut.
                                <span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
                            <li>Itaque earum rerum hic tenetur a sapiente <a href="#">http://example.com</a> ut aut.
                                <span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>© 2017 Best Pets. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- modal-about -->
    <div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <img src="{{ asset('FrontEnd/images/g2.jpg') }}" class="img-responsive" alt=""/>
                    <h4>Consectetur adipiscing elit</h4>
                    <p>Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate in.<br> Fusce lacus purus, pulvinar ut lacinia id, sagittis eu mi. Vestibulum eleifend massa sem, eget dapibus turpis efficitur at. Aliquam viverra quis leo et efficitur. Nullam arcu risus, scelerisque quis interdum eget, fermentum viverra turpis. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut At vero eos </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal-about -->
    <!-- modal sign in  -->
    <div class="modal bnr-modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body login-page "><!-- login-page -->
                    <div class="sap_tabs">
                        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                            <ul class="resp-tabs-list">
                                <li class="resp-tab-item" aria-controls="tab_item-0"><span>Login</span></li>
                                <li class="resp-tab-item" aria-controls="tab_item-1"><span>Register</span></li>
                            </ul>
                            <div class="clearfix"> </div>
                            <div class="resp-tabs-container">
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                    <div class="agileits-login">

                                        <form action="" method="post">


                                            <label for="username"></label>
                                            <input type="text" id="username" name="_username" value="" required="required" autocomplete="username" />

                                            <label for="password"></label>
                                            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />

                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                            <label for="remember_me"></label>

                                            <input type="submit" id="_submit" name="_submit" value="" />
                                        </form>

                                    </div>
                                </div>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                    <div class="login-top sign-top">
                                        <div class="agileits-login">
                                            <form action="#" method="post">
                                                <input type="text" name="Username" placeholder="Username" required="">
                                                <input type="email" class="email" name="Email" placeholder="Email" required=""/>
                                                <input type="password" class="password" name="Password" placeholder="Password" required=""/>
                                                <label class="anim">
                                                    <input type="checkbox" class="checkbox">
                                                    <span> I accept the terms of use</span>
                                                </label>
                                                <div class="w3ls-submit">
                                                    <input class="register" type="submit" value="REGISTER">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div> <!-- //login-page -->
            </div>
        </div>
    </div>
    <!-- //modal sign in -->
    <!-- js -->
    <script src="{{ asset('FrontEnd/js/jquery-2.2.3.min.js') }}"></script>
    <!-- //js -->
    <!-- jarallax -->
    <script src="{{ asset('FrontEnd/js/SmoothScroll.min.js') }}"></script>
    <script src="{{ asset('FrontEnd/js/jarallax.js') }}"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- //jarallax -->
    <!-- ResponsiveTabs js -->
    <script src="{{ asset('FrontEnd/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <!-- //ResponsiveTabs js -->
    <!-- banner-type-text -->
    <script src="{{ asset('FrontEnd/js/typed.js') }}" type="text/javascript"></script>
    <script>
        $(function(){

            $("#typed").typed({
                // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
                stringsElement: $('#typed-strings'),
                typeSpeed: 30,
                backDelay:700,
                loop: true,
                contentType: 'html', // or text
                // defaults to false for infinite loop
                loopCount: false,
                callback: function(){ foo(); },
                resetCallback: function() { newTyped(); }
            });

            $(".reset").click(function(){
                $("#typed").typed('reset');
            });

        });
        function newTyped(){ /* A new typed object */ }

        function foo(){ console.log("Callback"); }
    </script>
    <!-- //banner-type-text -->
    <!-- flexSlider -->
    <script defer src="{{ asset('FrontEnd/js/jquery.flexslider.js') }}"></script>
    <script type="text/javascript">
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="{{ asset('FrontEnd/js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ asset('FrontEnd/js/easing.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();

                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('FrontEnd/js/bootstrap.js') }}"></script>

    </body>
</html>
