{% extends "::backbase.html.twig" %}

{% block body %}
    <div id="wrapper">
        {% include '@BackEnd/Default/nav.html.twig' %}
        {% include '@BackEnd/Default/wrapper.html.twig' %}</div>


{% endblock %}
