<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top couleur"
     role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img
                    src="{{ asset('BackEnd/img/logoo.png') }}"
                    class="logo" /></a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
    </button>

    <!-- Top Navigation: Left Menu --> <!-- Top Navigation: Right Menu -->
    <ul class="nav navbar-right navbar-top-links">


        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
                <i class="fa fa-user fa-fw"></i> Utilisateur <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Paramètres</a>
                </li>
                <li class="divider"></li>
                <li><a href=""><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Sidebar -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li><a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Accueil</a></li>
                <li><a href=""><i class="fa fa-sitemap fa-fw"></i>  Dashbord</a>
            </ul>
        </div>
    </div>
</nav>