{% extends "base.html.twig" %}
{% block body %}

<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="col-md-6 w3ls_welcome_right">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="agileits_w3layouts_welcome_grid">
                            <img src="{{ asset('FrontEnd/images/g1.jpg') }}" alt=" " class="img-responsive" />
                        </div>
                    </li>
                    <li>
                        <div class="agileits_w3layouts_welcome_grid">
                            <img src="{{ asset('FrontEnd/images/g2.jpg') }}" alt=" " class="img-responsive" />
                        </div>
                    </li>
                    <li>
                        <div class="agileits_w3layouts_welcome_grid">
                            <img src="{{ asset('FrontEnd/images/g3.jpg') }}" alt=" " class="img-responsive" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 w3ls_welcome_left">
            <div class="w3ls_welcome_right1">
                <h3 class="agileits-title">About Us</h3>
                <h6>Lorem ipsum dolor <span> Consectetur </span> sit amet adipisicing elit. </h6>
                <p>Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                <div class="w3l_more">
                    <a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
                        <span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //welcome -->
<!-- Stats -->
<div class="stats services jarallax">
    <div class="container">
        <div class="stats-info agileits-w3layouts">
            <div class="col-sm-3 col-xs-6 stats-grid">
                <div class="stats-img">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <h5>Happy Clients</h5>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='157000' data-delay='.5' data-increment="100">157000</div>
            </div>
            <div class="col-sm-3 col-xs-6 stats-grid">
                <div class="stats-img w3-agileits">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                </div>
                <h5>Our Events</h5>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='850' data-delay='8' data-increment="1">850</div>
            </div>
            <div class="col-sm-3 col-xs-6 stats-grid">
                <div class="stats-img w3-agileits">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <h5>Projects</h5>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='80000' data-delay='.5' data-increment="100">80000</div>
            </div>
            <div class="col-sm-3 col-xs-6 stats-grid">
                <div class="stats-img w3-agileits">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </div>
                <h5>Awards</h5>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='269' data-delay='8' data-increment="1">269</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //Stats -->
<!-- team -->
<div class="team agileits">
    <div class="team-agileinfo">
        <div class="container">
            <h3 class="agileits-title w3title2">Our Team</h3>
            <div class="team-row agileits-w3layouts">
                <div class="col-sm-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="{{ asset('FrontEnd/images/t1.jpg.jpg') }}" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Edwards Doe</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                            <div class="social-w3lsicon">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="{{ asset('FrontEnd/images/t2.jpg.jpg') }}" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Mark Sophia</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                            <div class="social-w3lsicon">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="{{ asset('FrontEnd/images/t3.jpg.jpg') }}" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Michael amet</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                            <div class="social-w3lsicon">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="{{ asset('FrontEnd/images/t4.jpg') }}" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Daniel Nyari</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                            <div class="social-w3lsicon">
                                <ul class="agileits_social_list">
                                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- news letter -->
<div class="subscribe jarallax">
    <div class="sub-agileinfo">
        <div class="container">
            <h3 class="agileits-title w3title1">Get our free newsletter</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est consectetur adipisci velit sed quia non numquam eius.</p>
            <form>
                <input type="email" name="email" placeholder="Email Address" class="user" required="">
                <input type="submit" value="Subscribe">
            </form>
            <p class="spam">We never share your information or use it to spam you</p>
        </div>
    </div>
</div>
<!-- //news letter -->

<script src="{{ asset('FrontEnd/js/jquery-2.2.3.min.js') }}"></script>
<!-- //js -->
<!-- jarallax -->
<script src="{{ asset('FrontEnd/js/SmoothScroll.min.js') }}"></script>
<script src="{{ asset('FrontEnd/js/jarallax.js') }}"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<!-- //jarallax -->
<!-- flexSlider -->
<script defer src="{{ asset('FrontEnd/js/jquery.flexslider.js') }}"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!-- //flexSlider -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{{ asset('FrontEnd/js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ asset('FrontEnd/js/easing.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- ResponsiveTabs js -->
<script src="{{ asset('FrontEnd/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!-- //ResponsiveTabs js -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('FrontEnd/js/bootstrap.js') }}"></script>
{% endblock %}
