{% extends "base.html.twig" %}
{% block body %}

<div class="contact">
    <div class="container">
        <h3 class="agileits-title w3title2">Contact Us</h3>
        <div class="map-pos">
            <div class="col-md-4 address-row">
                <div class="col-xs-2 address-left">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 address-right">
                    <h5>Visit Us</h5>
                    <p>Bmr St, Canada, New York, USA</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 address-row w3-agileits">
                <div class="col-xs-2 address-left">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 address-right">
                    <h5>Mail Us</h5>
                    <p><a href="mailto:info@example.com"> mail@example.com</a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 address-row">
                <div class="col-xs-2 address-left">
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 address-right">
                    <h5>Call Us</h5>
                    <p>+01 222 333 4444</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <form action="#" method="post">
            <div class="col-sm-6 contact-left">
                <input type="text" name="Name" placeholder="Your Name" required="">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="text" name="Mobile Number" placeholder="Mobile Number" required="">
            </div>
            <div class="col-sm-6 contact-right">
                <textarea name="Message" placeholder="Message" required=""></textarea>
                <input type="submit" value="Submit" >
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<!-- //contact -->
<div class="map">
    <iframe src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=esprit%20elghazela+(pets)&ie=UTF8&t=&z=15&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>
<!-- news letter -->
<div class="subscribe jarallax">
    <div class="sub-agileinfo">
        <div class="container">
            <h3 class="agileits-title w3title1">Get our free newsletter</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est consectetur adipisci velit sed quia non numquam eius.</p>
            <form>
                <input type="email" name="email" placeholder="Email Address" class="user" required="">
                <input type="submit" value="Subscribe">
            </form>
            <p class="spam">We never share your information or use it to spam you</p>
        </div>
    </div>
</div>
<!-- //news letter -->
<!-- footer -->
<!-- js -->
<script src="{{ asset('FrontEnd/js/jquery-2.2.3.min.js') }}"></script>
<!-- //js -->
<!-- ResponsiveTabs js -->
<script src="{{ asset('FrontEnd/js/easyResponsiveTabs.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!-- //ResponsiveTabs js -->
<!-- jarallax -->
<script src="{{ asset('FrontEnd/js/SmoothScroll.min.js') }}"></script>
<script src="{{ asset('FrontEnd/js/jarallax.js') }}"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<!-- //jarallax -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{{ asset('FrontEnd/js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ asset('FrontEnd/js/easing.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('FrontEnd/js/bootstrap.js') }}"></script>
{% endblock %}
